.order {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}

.order ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
}

.order li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
}

.order li::after {
    content: ",";
}

.order li:last-child::after {
    content: ".";
}

.method {
    text-align: left;
    line-height: 1.5em;
}